/**--------------------------------------------------------------
Table of Contents
  # Header
    ## Wide Screens, Large Devices
    ## Desktops, Medium Devices
    ## Tablets, Small Devices
    ## Phones, Extra Small Devices
--------------------------------------------------------------*/
/**--------------------------------------------------------------
# Header
---------------------------------------------------------------*/
header {
  display: block;
  float: left;
  left: 0;
  position: absolute;
  top: 0;
  nav {
    ul {
      li {
        button {

        }
      }
      a {
        button {

        }
        li {

        }
      }
    }
    button {

    }
  }
}
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width: 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width: 992px) {

}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width: 768px) {

}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {

}

